/* The CSS background properties are used to define the background effects for elements.
*/

/* CSS background-color

- The background-color property specifies the background color of an element

*/

h1{
    background-color: lightblue;
}

#colorVerde{
    background-color: green;
}


/* Opacity

- Specifies the opacity/transparency of an element.
- When using the opacity property to add transparency to the background of an element, all of its child elements inherit the same transparency.

*/
#opacity{
    background-color: blue;
    opacity: 0.8;
}

/* Transparency using RGBA

- If we don't want to apply opacity to child elements, use RGBA color values.


*/

#opacityRGBA{

    background: rgba(0, 128, 0, 0.6);

}

/* CSS background-image

- The background-image property specifies an image to use as the background of an element.
- By default, the image es repeated so it covers the entire element.
- The background-image can also be set for specific elements.
- By default, the background-image property repeats an image both horizontally and vertically.

*/

#img {
    background-image: url("../images/Diana_1.jpg");
}

/*
If an image is repeated only horizontall:
    background-repeat: repeat-x;
If an image is repeated only vertically:
    background-repeat: repeat-y;

*/

/* CSS background-repeat: no-repeat
- Show the background-image only once
*/
/* CSS  background-position
- This property is used to specify the position of the background image
*/
/* CSS background-attachment
-  This property specifies whether the background image should scroll (with the rest of the page) or be fixed  (will not scroll with the rest of the page)
*/

/*
body {
    background-image: url("../images/img_tree.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
*/

/* CSS background-Shorthand property
- It is also possible to specify all the background properties in one single property.

background-color
background-image
background-repeat
background-attachment
background-position
*/

body{
    background: blue url("../images/img_tree.png") no-repeat scroll right top;
}